{% extends "base.html" %}

{% block title %}{{ block.super }} -- Map Generation{% endblock %}

{% block js %}
{{ block.super }}
{% load static %}
    <style>
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        .ui-autocomplete-loading {
        background: white url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif') right center no-repeat;
        }
        .search {
            position:relative; top:2px; /* readujst in jsfiddle */
            width: 400px;
            padding:8px 5px 8px 30px;
            border:1px solid #ccc;
            background:white url("http://i.imgur.com/lFkqn.png") left center no-repeat;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
                // set defaults for dropdown boxes
                $('.spinner').spinner();
                $('#ranking_algorithm').val('1');
                $('#similarity_algorithm').val('2');
                $('#filtering_algorithm').val('1');
                $('#basemap_author').autocomplete({
                    source: '{% url top_authors %}',
                    minLength: 3,
                    });
                $('#basemap_conference').autocomplete({
                    source: '{% url top_conferences %}',
                    minLength: 3,
                    });
                $('#basemap_journal').autocomplete({
                    source: '{% url top_journals %}',
                    minLength: 3,
                    });
                $('#heatmap_author').autocomplete({
                    source: '{% url top_authors %}',
                    minLength: 3,
                    });
                $('#heatmap_conference').autocomplete({
                    source: '{% url top_conferences %}',
                    minLength: 3,
                    });
                $('#heatmap_journal').autocomplete({
                    source: '{% url top_journals %}',
                    minLength: 3,
                    });
                $('#maps').accordion({
                    collapsible:true
                    });
                $('#submit').button();
                $('#basemap_year_range').slider({
                    range:true,
                    min:1950,
                    max:2013,
                    values:[1950,2013],
                    slide:function(event, ui) {
                    $('#basemap_starting_year').val(ui.values[0]);
                    $('#basemap_ending_year').val(ui.values[1]);
                    }});
                $('#heatmap_year_range').slider({
                    range:true,
                    min:1950,
                    max:2013,
                    values:[1950,2013],
                    slide:function(event, ui) {
                    $('#heatmap_starting_year').val(ui.values[0]);
                    $('#heatmap_ending_year').val(ui.values[1]);
                    } });

                $("#use_existing_basemap").change(function() {
                    if ($("#use_existing_basemap").prop("checked")) {
                        console.debug('checked');
                        $('#new_map_elements :input').attr("disabled", "disabled");
                        $('#existing_task_id').removeAttr("disabled");
                    }
                    else {
                        console.debug('unchecked');
                        $('#new_map_elements :input').removeAttr("disabled");
                        $('#existing_task_id').attr("disabled", "disabled");
                    }
                });

        });
    </script>
{% endblock %}

{% block content %}
<form method="post" action='{% url request_map %} '>
    {% csrf_token %}
    <div id='maps'>
        <h3>Basemap</h3>
        <div id='basemap_inner'>
            <input type="checkbox" id='use_existing_basemap' name="use_existing_basemap">Use Existing Basemap<br>
            <label for='existing_task_id'>ID of Task:</label><br>
            <input id='existing_task_id' disabled name='existing_task_id' autocomplete='off'>
            <div id='new_map_elements'>
                <label for='basemap_starting_year'>Starting Year:</label>
                <input id='basemap_starting_year' title='<b>Starting Year:</b><br>Only include documents published in this year or later.' class='spinner' name='basemap_starting_year' min='1950' max='2013' value='1950'>
                <label for='basemap_ending_year'>Ending Year:</label>
                <input id='basemap_ending_year' class='spinner' name='basemap_ending_year' min='1950' max='2013' value='2013'>
                <div id="basemap_year_range"></div>

                <label for='basemap_sample_size'>Number of Documents:</label><br>
                <input id='basemap_sample_size'  class='spinner' name='basemap_sample_size' min='100' max='50000' value='30000'><br>
                <label for='number_of_terms'>Number of Terms:</label><br>
                <input id='number_of_terms'  class='spinner' name='number_of_terms' min='100' max='5000' value='1000'><br>
                <label for='ranking_algorithm'>Ranking Algorithm:</label><br>
                <select name="ranking_algorithm" id="ranking_algorithm">
                    <option value="0">TF/ICF</option>
                    <option value="1">C-Value</option>
                    <option value="2">C-Value + Unigrams</option>
                    <option value="3">TF</option>
                </select><br>
                <label for='similarity_algorithm'>Similarity Algorithm:</label><br>
                <select name="similarity_algorithm" id="similarity_algorithm">
                    <option value="0">Latent Semantic Analysis</option>
                    <option value="1">Jaccard</option>
                    <option value="2">Jaccard Partial Match</option>
                    <option value="3">Distributional (Jensen-Shannon)</option>
                </select><br>
                <label for='filtering_algorithm'>Filtering Algorithm:</label><br>
                <select name="filtering_algorithm" id="filtering_algorithm">
                    <option value="0">Top Terms Only</option>
                    <option value="1">Pull Lesser Terms</option>
                    <option value="2">Hybrid</option>
                </select><br>
                <label for='basemap_term_type'>Term Type:</label><br>
                <select name="basemap_term_type" id="basemap_term_type">
                    <option value="0">Phrases</option>
                    <option value="1">All Words</option>
                    <option value="2">Words From Phrases</option>
                </select><br>
                <label for='basemap_author' >Author:</label><br>
                <input type='text' id='basemap_author' name='basemap_author' class="search"><br>
                <label for='basemap_conference'>Conference:</label><br>
                <input type='text' id='basemap_conference' name='basemap_conference' class="search"><br>
                <label for='basemap_journal'>Journal:</label><br>
                <input type='text' id='basemap_journal' name='basemap_journal' class="search"><br>
            </div>
            <input type="checkbox" id='draw_heatmap' name="draw_heatmap" value="Heatmap" checked="checked">Include a Heatmap
        </div>
        <h3>Heatmap</h3>
        <div id='heatmap_inner'>
            <label for='heatmap_starting_year'>Starting Year:</label>
            <input id='heatmap_starting_year' class='spinner' name='heatmap_starting_year' min='1950' max='2013' value='1950'>
            <label for='heatmap_ending_year'>Ending Year:</label>
            <input id='heatmap_ending_year' class='spinner' name='heatmap_ending_year' min='1950' max='2013' value='2013'>
            <div id="heatmap_year_range"></div>
            <label for='heatmap_sample_size'>Number of Documents:</label><br>
            <input id='heatmap_sample_size' class='spinner' class='spinner' name='heatmap_sample_size' min='100' max='50000' value='2000'><br>
            <label for='heatmap_term_type'>Term Type:</label><br>
            <select name="heatmap_term_type" id="heatmap_term_type">
                <option value="0">Phrases</option>
                <option value="1">All Words</option>
                <option value="2">Words From Phrases</option>
            </select><br>
            <label for='heatmap_author'>Author:</label><br>
            <input type='text' id='heatmap_author' name='heatmap_author' class="search"><br>
            <label for='heatmap_conference'>Conference:</label><br>
            <input type='text' id='heatmap_conference' name='heatmap_conference' class="search"><br>
            <label for='heatmap_journal'>Journal:</label><br>
            <input type='text' id='heatmap_journal' name='heatmap_journal' class="search"><br>
        </div>
    </div>

        <input id='submit' value='Create Map' type='submit'>
    </form>
{% endblock %}
