{% extends "base.html" %}

{% block title %}{{ block.super }} :: description{% endblock %}

{% block js %}
{{ block.super }}
{% load static %}
    <script type="text/javascript">
        $(document).ready(function() {
                // set defaults for dropdown boxes
                $('#ranking_algorithm').val('1');
                $('#similarity_algorithm').val('2');
                $('#filtering_algorithm').val('1');
        });
    </script>
{% endblock %}

{% block content %}
<form method="post" action='{% url request_map %} '>
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <h1>Basemap</h1>
            </td>
            <td>
                <h1>Heatmap</h1>
            </td>
        </tr>
        <tr>
            <td>
                <label for='basemap_starting_year'>Starting Year:</label><br>
                <input id='basemap_starting_year' type='number' name='basemap_starting_year' min='1930' max='2013' value='2000' autocomplete='off'><br>
                <label for='basemap_ending_year'>Ending Year:</label><br>
                <input id='basemap_ending_year' type='number' name='basemap_ending_year' min='1930' max='2013' value='2013' autocomplete='off'><br>
                <label for='basemap_sample_size'>Number of Documents:</label><br>
                <input id='basemap_sample_size' type='number' name='basemap_sample_size' min='100' max='50000' value='30000' autocomplete='off'><br>
                <label for='number_of_terms'>Number of Terms:</label><br>
                <input id='number_of_terms' type='number' name='number_of_terms' min='100' max='5000' value='1000' autocomplete='off'><br>
                <label for='ranking_algorithm'>Ranking Algorithm:</label><br>
                <select name="ranking_algorithm" id="ranking_algorithm">
                    <option value="0">TF/ICF</option>
                    <option value="1">C-Value</option>
                    <option value="2">C-Value + Unigrams</option>
                    <option value="3">TF</option>
                </select><br>
                <label for='similarity_algorithm'>Similarity Algorithm:</label><br>
                <select name="similarity_algorithm" id="similarity_algorithm">
                    <option value="0">Latent Semantic Analysis</option>
                    <option value="1">Jaccard</option>
                    <option value="2">Jaccard Partial Match</option>
                    <option value="3">Distributional (Jensen-Shannon)</option>
                </select><br>
                <label for='filtering_algorithm'>Filtering Algorithm:</label><br>
                <select name="filtering_algorithm" id="filtering_algorithm">
                    <option value="0">Top Terms Only</option>
                    <option value="1">Pull Lesser Terms</option>
                    <option value="2">Hybrid</option>
                </select><br>
                <label for='basemap_author'>Author:</label><br>
                <input type='text' id='basemap_author' name='basemap_author'><br>
                <label for='basemap_conference'>Conference:</label><br>
                <input type='text' id='basemap_conference' name='basemap_conference'><br>
                <label for='basemap_journal'>Journal:</label><br>
                <input type='text' id='basemap_journal' name='basemap_journal'><br>
            </td>
            <td>
                <label for='heatmap_starting_year'>Starting Year:</label><br>
                <input id='heatmap_starting_year' type='number' name='heatmap_starting_year' min='1930' max='2013' value='2000' autocomplete='off'><br>
                <label for='heatmap_ending_year'>Ending Year:</label><br>
                <input id='heatmap_ending_year' type='number' name='heatmap_ending_year' min='1930' max='2013' value='2013' autocomplete='off'><br>
                <label for='heatmap_sample_size'>Number of Documents:</label><br>
                <input id='heatmap_sample_size' type='number' name='heatmap_sample_size' min='100' max='50000' value='2000' autocomplete='off'><br>
                <label for='heatmap_author'>Author:</label><br>
                <input type='text' id='heatmap_author' name='heatmap_author'><br>
                <label for='heatmap_conference'>Conference:</label><br>
                <input type='text' id='heatmap_conference' name='heatmap_conference'><br>
                <label for='heatmap_journal'>Journal:</label><br>
                <input type='text' id='heatmap_journal' name='heatmap_journal'><br>
            </td>
        </table>

        <input id='submit' value='submit' type='submit'>
    </form>
{% endblock %}
