{% extends "base.html" %}
{% block title %}{{ block.super }} :: map{% endblock %}

{% block js %}
    {{ block.super }}
    {% load static %}
    <link href="{% get_static_prefix %}css/display_map.css" rel="stylesheet" type="text/css">
    <script src="{% get_static_prefix %}openlayers/lib/OpenLayers.js"></script>
    <script src="{% get_static_prefix %}openlayers/InlineXhtml/lib/OpenLayers/Tile/InlineXhtml.js"></script>
    <script src="{% get_static_prefix %}openlayers/InlineXhtml/lib/OpenLayers/Layer/WMS/InlineXhtml.js"></script>
    <script src="{% get_static_prefix %}openlayers/InlineXhtml/lib/OpenLayers/Layer/InlineXhtml.js"></script>
    <script src="{% get_static_prefix %}openlayers/InlineXhtml/lib/OpenLayers/Layer/ScalableInlineXhtml.js"></script>
    <script src="{% get_static_prefix %}js/heatmap.js"></script>
    <script type="text/javascript">
// variable to keep track of the last time we received data
// a time value will be sent back with the response in a unix timestamp format
var lastupdate = 0;
// times in milliseconds
var basemap_poll_timeout = 2000;
var basemap_retry_timeout = 10000;
var basemap_error_timeout = 300000;
var heatmap_poll_timeout = 1000;
var heatmap_retry_timeout = basemap_retry_timeout;
var heatmap_error_timeout = basemap_error_timeout;

var heatmap_intensity = 0.08;
var heatmap_default_opacity = 0.6;
var heatmap_scaling_factor = 25;

var heatmap_metadata;
var basemap_metadata;

var delay = 0;
var delta_delay = 500;

/* prevent console calls from crashing everything */
if(typeof console === "undefined") {
    console = {
        log: function() { },
        debug: function() { },
    };
}

$(document).ready(function(){
        // $('#collapsible').accordion();
       get_basemap_status();
       $('#opacity-slider').slider({ 
             max:100,
             min:0,
             value:100,
             animate: true,
             change: opacity_slider_change,
           });
});

function opacity_slider_change(event, ui) {
    var opacity =  ui.value / 100.0;
    $('.edge').children('path').attr('opacity', opacity);
}

function basemap_algorithm_string(basemap_metadata) {
    ranking_fn_names = ['TF/ICF', 'C-Value', 'C-Value with Unigrams', 'Term Frequency'];
    similarity_fn_names = ['LSA', 'Jaccard Coefficient', 'Partial Match Jaccard Coefficient'];
    filtering_fn_names = ['Top Terms Only', 'Pull Lesser Terms'];
    return ranking_fn_names[basemap_metadata.ranking_algorithm] + ', ' + 
           similarity_fn_names[basemap_metadata.similarity_algorithm] + ', ' +
           filtering_fn_names[basemap_metadata.filtering_algorithm] + ', ' +
           'number of top terms = ' + basemap_metadata.number_of_terms
}

function update_basemap_status(basemap_metadata) {
    $('#basemap_algorithms').text(basemap_algorithm_string(basemap_metadata));
    var docs_sampled = basemap_metadata.documents_sampled == null ? 'sampling' : basemap_metadata.documents_sampled;
    $('#basemap_query').text(docs_sampled + ' grants from ' +  basemap_metadata.institution + ' ' + basemap_metadata.author + (basemap_metadata.starting_year + '-' + basemap_metadata.ending_year));
    $('#basemap_status').text(basemap_metadata.status);
}

function update_heatmap_status(heatmap_metadata) {
    var docs_sampled = heatmap_metadata.documents_sampled == null ? 'sampling' : heatmap_metadata.documents_sampled;
    $('#heatmap_query').text(docs_sampled + ' grants from ' +  heatmap_metadata.institution + heatmap_metadata.author + (heatmap_metadata.starting_year + '-' + heatmap_metadata.ending_year));
    $('#heatmap_status').text(heatmap_metadata.status);
}

function get_basemap_status() {
    $.ajax({
        dataType: "json",
        type: "GET",
        url: '{% url nsf_maps.views.basemap_metadata data.basemap_id %}',
        async: true,
        cache: false,
        timeout:basemap_error_timeout,
        success: function(data) {
            basemap_metadata = data;
            update_basemap_status(basemap_metadata);
            //$('#basemap_metadata').text(JSON.stringify(basemap_metadata, null, 4));
            if (basemap_metadata.finished) {
                //$('#status').hide();
                display_basemap("{% url nsf_maps.views.basemap data.basemap_id %}", basemap_metadata.width, basemap_metadata.height);
            }
            else {
                setTimeout(get_basemap_status, basemap_poll_timeout);
            }
        },
        // handle error
        error: function(XMLHttpRequest, textStatus, errorThrown){
            // try again in 10 seconds if there was a request error
            setTimeout(get_basemap_status, basemap_retry_timeout);
        },
    });
}

{% url nsf_maps.views.heatmap_metadata data.heatmap_id as heatmap_metadata_url %}
{% url nsf_maps.views.heatmap data.heatmap_id as heatmap_url %}
function get_heatmap_status() {
    $.ajax({
        type: "GET",
        url: '{{ heatmap_metadata_url }}',
        async: true,
        cache: false,
        timeout: heatmap_error_timeout,
        success: function(data) {
            heatmap_metadata = data;
            //$('#heatmap_metadata').text(JSON.stringify(heatmap_metadata, null, 4));
            update_heatmap_status(heatmap_metadata);
            if (heatmap_metadata.finished) {
                display_heatmap('{{ heatmap_url}}');
            }
            else {
                setTimeout(get_heatmap_status, heatmap_poll_timeout);
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            setTimeout(get_heatmap_status, heatmap_retry_timeout);
        },
    });
}

OpenLayers.ImgPath = "http://js.mapbox.com/theme/dark/";
var map; //OpenLayers.Map
var heatmap;
var heatmapTerms = {};

function get_node(text) {
    return $(".node").filter(function() {
            return $(this).children('title').text() == text;
            })
}

function draw_scaled_heatmap() {
    clear_heatmap();
    var scaling_factor;
    var term_list = [];
    for (var term in heatmapTerms) {
        term_list.push(
                { 
                'term': term,
                'radius': heatmapTerms[term].radius,
                'intensity': heatmapTerms[term].intensity
                });
    }

    if (term_list.length > 0) {
        console.debug(term_list);
        scaling_factor = term_list.map(function(d) { return Math.log(d.intensity + 1); })
            .reduce(function(p, c) { return Math.max(p,c); });
    }
    else {
        scaling_factor = 1;
    }
    console.debug(scaling_factor);
    var svg = $('svg');
    // avoid race condition: check if svg has been initialized yet before trying to draw terms
    if (svg.length == 0) {
        delay += delta_delay;
        setTimeout(draw_scaled_heatmap, delay);
    }
    else {
        term_list.map(function (term) {
                highlight_node(term.term, term.radius, Math.log(term.intensity + 1) / scaling_factor);
                });
        rescale_heatmap();
    }
}

function display_multiple_heatmaps(url_nums) {
    base_url = '/mocs/maps/heatmap/'
    for (var i in url_nums) {
        num = url_nums[i];
        display_heatmap(base_url + num);
    }
}

function add_highlight_terms(term_list) {
    /* term_list should be list of { term:"term", radius:r, intensity:i } objects*/
    term_list.map(function(d) { 
        if (d.term in heatmapTerms) {
            heatmapTerms[d.term].intensity += d.intensity;
        }
        else {
            heatmapTerms[d.term] = {'intensity' : d.intensity};
        }
        heatmapTerms[d.term]['radius'] = d.radius;
    });
    draw_scaled_heatmap();
}

function clear_heatmap() {
    heatmap.points = [];
    heatmap.redraw();
}

var ctm;
function highlight_node(name, radius, intensity) {
    var svg = $('svg')[0];
    var pt = svg.createSVGPoint();
    var node = get_node(name);
    if (node.length > 0) {
        var text_element = node.children('text').first();
        var x = text_element.attr('x');
        var y = text_element.attr('y');
        pt.x = x;
        pt.y = y;
        if (ctm == null) {
            var txt = text_element[0];
            ctm = txt.getTransformToElement(svg);
        }
        var transformed_point = pt.matrixTransform(ctm);
        heatmap.addSource(new Heatmap.Source(new OpenLayers.LonLat(transformed_point.x, -1*transformed_point.y), radius, intensity));
        }
    else {
        console.debug('node not found:');
        console.debug(name);
    }
}

function rescale_heatmap() {
    heatmap.defaultRadius = heatmap_scaling_factor * map.zoom;
    heatmap.redraw();
}

function display_basemap(basemap_url, width, height) {
    var bounds = new OpenLayers.Bounds(0, -1 * height, width, 0);
    map_options = {
        controls:[
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar(),
            new OpenLayers.Control.LayerSwitcher(),
            new OpenLayers.Control.Attribution()
                ],
        maxExtent: bounds,
        //minExtent: new OpenLayers.Bounds(0, -1 * height/2, width/2, 0),
        numZoomLevels: 8,
        fractionalZoom: true,
    }
    map = new OpenLayers.Map ("map", map_options);
    var mocs = new OpenLayers.Layer.ScalableInlineXhtml(
        "MoCS",
        basemap_url,
        bounds,
        null,
        {isBaseLayer: true,
            opacity: '1.0'}
    );
    var svg = $('svg');
    mocs.adjustBounds(bounds);
    heatmap = new Heatmap.Layer("Heatmap");
    heatmap.defaultRadius = heatmap_scaling_factor;
    heatmap.defaultIntensity = heatmap_intensity;
    heatmap.setOpacity(heatmap_default_opacity);
    map.addLayers([mocs, heatmap]);
    map.zoomToExtent(bounds);
    map.events.on({ 
            "zoomend": rescale_heatmap,
            });

    var ov_options = {
              //layers: [mocs],
            };
    overview = new OpenLayers.Control.OverviewMap(ov_options);
    overview.size.w = 160;
    overview.size.h = 120;
    //map.addControl(overview);

    /*
    $("#intensity-slider").slider({
        min: 0.0,
        max: 0.5,
        step: 0.01,
        value: heatmap.defaultIntensity,
        change: function(event, ui) {
            heatmap.defaultIntensity = ui.value;
            heatmap.redraw();
    }
    });
    $("#opacity-slider").slider({
    min: 0,
    max: 1,
    step: 0.01,
    value: heatmap_default_opacity,
    change: function(event, ui) {
        heatmap.setOpacity(ui.value);
        }
    });
    */
    if ({{ data.heatmap_id }} != -1) {
        get_heatmap_status();
    } else {
        $('#heatmap_status').text('No heatmap query selected');
    }

} 

function display_heatmap(heatmap_url) {
    $.ajax({
        dataType: "json",
        type: "GET",
        url: heatmap_url,
        async: true,
        cache: false,
        timeout:heatmap_error_timeout,
        success: function(heatmap_data) {
            console.log('got data for ' + heatmap_url);
            add_highlight_terms(heatmap_data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            // try again in 10 seconds if there was a request error
            setTimeout(get_heatmap_status, heatmap_retry_timeout);
        },
    });
}
</script>
{% endblock %}

{% block content %}
    <div id='collapsible'>
        <table style='width:100%'>
            <tr>
                <th>
                    Basemap
                </th>
                <th>
                    Heatmap
                </th>
            </tr>
            <tr>
                <td>
                    <div id='basemap_status'></div>
                </td>
                <td>
                    <div id='heatmap_status'></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id='basemap_query'></div>
                </td>
                <td>
                    <div id='heatmap_query'></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id='basemap_algorithms'></div>
                </td>
            </tr>
        </table>
    </div>
    <div id= 'opacity'>
        Edge Opacity: <div id='opacity-slider' class='small_slider'></div>
    </div>
    <!--
    <div id='map' style='height:1200px'></div>
    -->
    <div id='map' style='height:1000px'></div>

    <!--
    heatmap opacity
    <div id='opacity-slider' style='margin:1em'></div>
    heatmap intensity
    <div id='intensity-slider' style='margin:1em'></div>
    -->
{% endblock %}
